

#imagem {
    width: 191px;
    height: 180px;
    border-radius: 11px;
}

#spanText {
    display: flex;  
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
