
p-button {
    background-color: #59DDDD;
}
#menuWidthMax768px{
    display: none;
}

@media screen and (max-width: 763px) {
    #menuWidthMax768px{
        display: block;
    }
    #menuWidthMin768px {
        display: none;
    };
}