* {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }



#containerNav {
    position: absolute;
    align-self: start;
    align-items: end;
    border-radius: 0px;
    width: 100vw;
    height: 9.45rem;
    background-color: #7AE4E4;
}


#containerSide {
    position: fixed;
    align-self: start;
    width: 2rem;
    z-index: 2;
}
