<div id="containerSideBar">
    <div class="card flex justify-content-center">
        <p-sidebar [(visible)]="sidebarVisible">
            <h1>Menu Lateral</h1>
            <div id="sideBarAberto">
                <p-button type="button" class="btns" (click)="rotaProfile()">Perfil</p-button>
                <p-button type="button" class="btns" (click)="rotaExercicios()">Exercícios</p-button>
                <p-button type="button" class="btns" (click)="rotaDiet()">Dietas</p-button>
            </div>
        </p-sidebar>
        <p-button (click)="sidebarVisible = true" icon="pi pi-bars"></p-button>
    </div>
</div>
<div>
    <button *ngIf="showButton" (click)="voltarAoTopo()" id="btnTopo"><span
            class="pi pi-angle-double-up"></span></button>
</div>