.borda-com-titulo {
    border: 2px solid black;
    position: relative;
    text-align: center;
    margin-top: 9.45rem;
    padding-top: 1.875rem;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    
    .titulo {
      background: #59DDDD;
      position: absolute;
      border: 1px solid black;
      top: -19px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 0.625rem;
      font-size: 1.5em;
    }
    
    #containerGeral {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 50vw;

        #containerInput {
            margin-left: 0.938rem;

            #textSearch {
                height: 2rem;
                margin-bottom: 0.5rem;
            }
        }
        
        #containerCards {
            padding: 5px;
            font-size: large;
            margin: 0.625rem;
            margin-top: 3.125rem;
            transition: transform 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
  }


  @media screen and (max-width: 1200px) {
    #containerGeral {
        width: 70vw !important;
    }
}

@media screen and (max-width: 1023px) {
    #containerGeral {
        width: 79vw !important;
    }
}

@media screen and (max-width: 768px) {
    #containerGeral {
        width: 90vw !important;
        
    }
}