<div id="containerGeral">
    <p-button type="button" (click)="voltar()" styleClass="custom-btns" [raised]="true" label="Voltar"></p-button>
    <div *ngIf="card" id="containerCard">
        <img [src]="card.linkImagem" alt="Alimento" class="imagem">

        <h2 id="titulo">{{card.nome}}</h2>
        <div id="span1">
            <span>{{card.descricao}}</span>
        </div>
        <div id="span2">
            <span>Calorias por dia: {{card.calorias}}</span>
        </div>
        <div id="span3">
            <span>Refeições por dia: {{card.refeicoes}}</span>
        </div>
    </div>
</div>